{% extends 'base.html' %}

{% block title %}About Me - Tattoo Artist{% endblock %}

{% block content %}
    <section class="about-section">
        <div class="overlay"></div>  <!-- Apply the overlay -->
        <div class="about-content">
            <div class="container">
                <h1>About Us</h1>

                <h2>Our Journey</h2>
                <p>BLAQfeather Tattoos was established in 2017 by the tatoo artist, Payne. Payne having always had a deep appreciation of art, developed a fascination for art on skin, and this grew into a love of tattoos. That love is what drives BLAQfeather to provide high-quality services to all its clients. </p>
                
                <h2>Our Style</h2>
                <p>At Blaq Feather Tattoos, we bring ink to life with a unique blend of bold creativity and fine-line precision. Our artistry ranges from delicate floral compositions and geometric designs to striking black-and-gray realism. Whether you're looking for elegant ornamental patterns, lifelike nature-inspired tattoos, or bold statement pieces, we craft every design with passion and detail.

                    We specialize in black-and-gray work, offering both intricate linework and soft shading to create timeless pieces. From symbolic tattoos that tell a story to bold, modern designs that stand out, our style is as unique as the people who wear it.
                    
                    Let us turn your vision into a masterpiece—crafted with skill, inked with passion.</p>

                <h2>Our Philosophy</h2>
                <p>With our vision and mission being to deliver a memorable and timeless piece of art together with an everlasting experience in a higined and environment and to give back by offering young and upcoming tattoo and art enthusiasts the opportunity to learn,grow and nurture their talent and get a head start on their own careers in the field of art.</p>
            </div>
        </div>
    </section>
{% endblock %}
