{% extends 'base.html' %}

{% block title %}Contact Me - Tattoo Artist{% endblock %}

{% block content %}
    <section class="contact-info">
        <div class="container">
            <h1>Contact Me</h1>
            <p>If you have any questions, feel free to reach out to me through the contact information below or by filling out the contact form.</p>

            <h2>Email</h2>
            <p>blaqfeather115@gmail.com</p>

            <h2>Phone</h2>
            <p>067 729 2036</p>

            <h2>Location</h2>
            <p>123 Tattoo St, Ink City, IC 98765</p>
        </div>
    </section>
{% endblock %}
